.day{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3{
    margin: 10px;
}

.day > h3 > b{
    color: red;
}
.increase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}