.Rick{
    border: 1px solid black;
    margin: 15px;

}
.simpsons > div{
    border: 1px solid black;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.conteiner{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}
